/**** NAV BAR ****/
.navbar-toggler {
	float: right;
}

/**** JUMBOTRON ****/
.jumbotron {
	margin: 2em;
}

/**** MAIN ****/
.info {
	background-color: #E8ECF0;
	padding: 2em;
}

.col-sm-4 {
	padding: 1em;
}

/**** CARDS ****/
.card {
	margin-bottom: 1em;
	margin-top: 1em;
	outline: none;
}

img[alt="Card image cap"] {
	border-radius: 50%;
	display: block;
	border: none;
}

.card-text {
	font-size: 14px;
	text-align: center;
	outline: 1px solid black;
	background-color: #E8ECF0;
	border-radius: 10%;
	display: block;
}

/**** FOOTER ****/
footer {
	background-color: black;
	color: white;
	padding: 1em;
	text-align: center;
}